<nav class="navbar navbar-dark bg-dark mb-5 p-3">
    <span class="navbar-brand h1">Covid Info</span>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Admin Login</button>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-center">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="selectedCity" name="city">
          <mat-option *ngFor="let city of cities" [value]="city.value">
            {{city.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6 text-center">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Resource</mat-label>
        <mat-select [(ngModel)]="selectedResource" name="resource">
          <mat-option *ngFor="let resource of resources" [value]="resource.value">
            {{resource.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
          mdbInput>
        <label for="search-input">Search</label>
      </div>
    </div> -->
    <table mdbTable #tableEl="mdbTable" [hover]="true" style="z-index: 10;">
      <thead>
        <tr (click)="onScreenClick()">
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
            scope="col" class="text-center">{{head | titlecase}}
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
      </thead>
      <tbody #row>
        <tr mdbTableCol *ngFor="let el of elements; let i = index" (click)="onTableRowClick(el.id)">
          <th scope="row" class="text-center">{{el.name}}</th>
          <td class="text-center">{{el.totalIsolationBeds}}</td>
          <td class="text-center">{{el.availaibleIsolationBeds}}</td>
          <td class="text-center">{{el.totalOxygenBeds}}</td>
          <td class="text-center">{{el.availaibleOxygenBeds}}</td>
          <td class="text-center">{{el.totalVentilatorBeds}}</td>
          <td class="text-center">{{el.availaibleVentilatorBeds}}</td>
          <td class="text-center">{{el.lastVerified.timestamp.toDateString()}}</td>
          <td class="text-center">
              <button class="btn btn-outline-primary">Report</button>
          </td>
          <div class="card pop-up" style="width: 20rem;" 
            *ngIf="el.id == selectedHospitalId">
            <div class="card-header">
                <h6>{{el.name}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Doctor Name : </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.doctorName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Address :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.address}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Contact Info :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.contactNo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Miscellaneous :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.miscellaneous}}</p>
                    </div>
                </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="screen" (click)="onScreenClick()" *ngIf="selectedHospitalId !== ''">

</div>
