<nav class="navbar navbar-dark bg-dark mb-5 p-2">
    <span class="navbar-brand ml-4">Covid Info</span>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#loginModal" (click)="showLoginBox = true">Admin Login</button>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-center">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="selectedCity.value" name="city">
          <mat-option *ngFor="let city of cities" [value]="city.value">
            {{city.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-6 text-center">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Resource</mat-label>
        <mat-select [(ngModel)]="selectedResource.value" name="resource">
          <mat-option *ngFor="let resource of resources" [value]="resource.value">
            {{resource.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
          mdbInput>
        <label for="search-input">Search</label>
      </div>
    </div> -->
    <table mdbTable #tableEl="mdbTable" [hover]="true" style="z-index: 10;">
      <thead>
        <tr (click)="onScreenClick()">
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i].value"
            scope="col" class="text-center">{{head.viewValue | titlecase}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
              <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg>
          </th>
        </tr>
      </thead>
      <tbody #row>
        <tr mdbTableCol *ngFor="let el of elements; let i = index" (click)="onTableRowClick(el.id)">
          <th scope="row" class="text-center">{{el.name}}</th>
          <td class="text-center">{{el.totalIsolationBeds}}</td>
          <td class="text-center">{{el.availaibleIsolationBeds}}</td>
          <td class="text-center">{{el.totalOxygenBeds}}</td>
          <td class="text-center">{{el.availaibleOxygenBeds}}</td>
          <td class="text-center">{{el.totalVentilatorBeds}}</td>
          <td class="text-center">{{el.availaibleVentilatorBeds}}</td>
          <td class="text-center">{{el.lastVerified.timestamp.toDateString()}}</td>
          <td class="text-center">
              <button class="btn btn-outline-primary">Report</button>
          </td>
          <div class="card pop-up" style="width: 20rem;" 
            *ngIf="el.id == selectedHospitalId">
            <div class="card-header">
                <h6>{{el.name}}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Doctor Name : </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.doctorName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Address :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.address}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Contact Info :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.contactNo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-title">Miscellaneous :</p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text">{{el.miscellaneous}}</p>
                    </div>
                </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="screen" (click)="onScreenClick()" *ngIf="selectedHospitalId !== ''"></div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showLoginBox = false">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login-form-component [error]="authError" (submit-login)="onLoginClicked($event)"></app-login-form-component>
      </div>
    </div>
  </div>
</div>